.idea
*.jar
build
target
temp
out
*.exe
logs
executionOutput
extentReports
allure-results
screenshot
test-output/**
.settings/**
appTestDataFiles
/.classpath
/.project
/vamautomationtest.iml
/downloadFiles/
