<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test thread-count="5" name="Test">
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="chrome"></parameter>
       <classes>
           <class name="testCases.AccountTest"></class>
           <class name="testCases.LoginTest"></class>
           <class name="testCases.LoginDDT"></class>
       </classes>
    </test>
</suite>
